/* @import url('https://fonts.googleapis.com/css2?family=Abel&family=Exo:wght@100;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Exo:wght@100;400;500;600;700&family=Inconsolata:wght@400;500;600;700;800;900&display=swap');
/* rxbxykdislvbwscn */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Abel', sans-serif;
    font-family: 'Exo', sans-serif; */
    font-family: 'Abel', sans-serif;
    font-family: 'Exo', sans-serif;
    font-family: 'Inconsolata', monospace;
}
a {
    text-decoration: none;
    color: #000000;
}
html {
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;  /* Optional: just make scrollbar invisible */
}

section {
    width: 100vw;
    height: 100vh;
}
.mainContainer {
    width:100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
/* =========navbar styles============  */
nav {
    /* border: 1px solid red; */
    position: sticky;
    top: 0;
    overflow: hidden;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 1.5rem 0;
    /* box-shadow: 1px 2px 5px #aaaaaa; */
}
#nav-inner-container {
    width: 80%;
    margin: auto;
    display: flex;
}

#navlinks {
    width: 70%;
}

#brand {
    width: 30%;
    font-size: 1.6rem;
}

#navlinks li {
    float: right;
    display: block;
    padding: 0 1.5rem;
    /* background-color: grey; */
}

#toggleTheme {
    background-color: black;
    color: white;
    padding: .5rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    border: 1px solid black;
    cursor: pointer;
    /* display: inline-block; */
}

#toggleTheme:hover {
    background-color: white;
    color: black;
    /* border: 1px solid black; */
}
#toggleButton {
    width: 70%;
    display: none;
    /* visibility: hidden; */
}
#toggleButton button {
    float: right;
    background: transparent;
    border: none;
    font-size: 1.2rem;
    font-weight: 800;
}
#overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    /* top: 0;
    left: 0; */
    z-index: 2;
    background: rgba(0, 0, 0, 0.9);
    /* display: none; */
    visibility: hidden;
}

#closeNav {
    /* border: 1px solid red; */
    width: 80%;
    padding: 1.5rem 0;
    margin: auto;
}
#closeNav button {
    float: right;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
}
@media screen and (max-width: 1100px) {
    #navlinks {
        display: none;
    }
    #toggleButton {
        display: block;
    }
}

/* ==============header styles =============== */

.one {
    /* background-color: #F0F5F9; */
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#resume {
    padding: .8rem 3rem;
    border: 1px solid white;
    color: white;
    background-color: rebeccapurple;
    outline: none;
    margin: 1rem 0;
    font-weight: 700;
    letter-spacing: .2rem;
    text-decoration: none;
    display: inline-block;
    visibility: hidden;
}
#resume:hover {
    cursor: pointer;
    background-color: white;
    color: rebeccapurple;
    border: 1px dotted rebeccapurple;
}
header p {
    color: black;
}
#name {
    color: rebeccapurple;
    font-weight: 600;
    font-size: 3rem;
}
header {
    width: 80%;
    margin: auto;
    position: relative;
    letter-spacing: .2rem;
    /* border: 1px solid red; */
}
header p:nth-child(1) {
    font-size: 3rem;
    /* line-height: 5rem; */
    font-weight: 400;
}
#typingText {
    font-size: 1.5rem;
    margin: 1rem 0;
}
#arrowContainer {
    margin: 8rem 1rem;
}
.fa-chevron-down {
    animation: MoveUpDown 1s linear infinite;
    position: relative;
    visibility: hidden;
}
@keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 15px;
    }
  }

@media screen and (max-width:450px) {
    header {
        width: 100%;
        padding: 0 20px;
    }
    * {
        font-size: 14px;
    }
    header p:nth-child(1) {
        line-height: 3rem;
    }
    header div p {
        text-align: left;
        padding: 1rem;
    }
    #resume {
        float: left;
        margin: 1rem 0;
        padding: .6rem 2rem;
    }
    #arrowContainer {
        margin: 10rem 0;
    }
}


